<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Meteor</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <nav>
        <a href="index.html" class="meteor">&nbsp;&#x1F46E; Meteor &nbsp;</a> ｜ 
        <a href="dcard.html" class="dcard">&nbsp;&#x1F51E; Dcard &nbsp;</a> ｜ 
        <a href="ptt.html" class="ptt">&nbsp;&#x1F42F; PTT &nbsp;</a> ｜ 
        <a href="https://goo.gl/forms/nxPTGCqj0oVYVOB93" target="_blank">Forms</a>
        <span id="forkongithub">
            <a href="https://github.com/lovenery/student-forum">Fork me on GitHub</a>
        </span>
    </nav>
    <div id="app" v-cloak>
        <h1>Meteor {{ theMode }} Posts</h1>
        <button @click="switchMode()" :disabled="loading" class="btn btn-green">Switch to {{ inverseMode }} Posts</button>
        <button @click="imageOnlyFlag = !imageOnlyFlag" class="btn btn-orange">{{ imageOnlyBtn }}</button>
        <hr>
        <p>
            這裡是<mark>清純的</mark>賣照板。 |
            <a href="https://goo.gl/UM33QL" target="_blank">Backup</a>
        </p>
        <!-- <a href="https://goo.gl/psE6RB" target="_blank">GoogleDrive-1476P-2017/01/28-12:00</a> -->
        <hr>
        <div v-for="i in fullContent" v-if="i.authorGender == 'female'" class="wrap">
            <a :href=" 'https://meteor.today/article/share/' + i.id " target="_blank">
                <span class="title">{{ i.title }}</span>
            </a>
            <span>{{ createTime(i.createdAt) + ' ' + i.authorSchoolName + ', ' + i.authorAlias }}</span>
            <p v-html="encodeToImg(i.content)"></p>
            <hr>
        </div>
        <h1 v-if="loading">載入中。。。等等拉！</h1>
        <h1 v-if="EOF">沒有文章囉！</h1>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script src="assets/script.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-91016420-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>